/* CSS Document */
html, body {margin: 0; height: 100%; overflow: hidden}

body{
    
    
    /*    background-size: cover;*/
    /*    height: 1093px;*/
    /*  background-image: url("bgCennik.jpg"); */
}


ul h1{
    font-size: 1.2rem;
    display: inline;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

ul h2{
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
    /*    display: inline;*/
    font-weight: 300;
    color: #E3D6A1;
    width: 100%;
    top: 6px;
    float: none;
    clear:both;
    display: block;
    /*    top: 80px;*/
    position: relative;
}
div{
    width: 300px;
    
    /*    height:auto;*/
    
    /*        text-align: center;*/
    /*    line-height: 50px;*/
    /*    float: left;*/
    
}
ul{
    /*    background-color: #242329;*/
    color: #F2F2F2;
    /*     background-color: gainsboro;*/
    /*    left: 50px;*/
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    /*    margin: auto 0px;*/
    max-width: 700px;
    /*    max-height: 1100px;*/
    /*    width: 400;*/
    list-style: none;
    
    /* [disabled]font-family: popins; *//*
                                         */
    margin: 0 auto;
}


hr {
    border: none;
    border-top:0.25rem dotted;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
    /*  background-color:#fff;*/
    height: 3px;
    width:98%;
}

li {
    
}

.el1{
    /*    background-color: blue;*/
    width: auto;
    float: left;
    display: inline-block;
    position: relative;
    /*    left: 100px;*/
    
}

.el2{
    /*    float: right;*/
    /*    right: 200px;*/
    /*    top: 300px;*/
    /*    left: 150px;*/
    /*    background-color: yellow;*/
    width: auto;
    position:relative;
    float: right;
    display: block;
}

.el3{
    /*        background-color: red;*/
    /*
     color: #E3D6A1;
     width: 100%;
     top: 6px;
     float: none;
     clear:both;
     display: block;
     top: 80px;
     position: relative;
     */
}
.logo {
    /*    text-align: center;*/
    
    display:block;
    padding-left: 60px;
    margin:auto;
    margin-top: 52px;
    /*   width: 50px;*/
    /*   margin-left: 150px;*/
}
</style>

}
.h1txt{
    
}

.h1txt2{
    
}




